@font-face {
    font-family: othmani;
    src: url('../fonts/UthmanicHafs.otf');
}

body {
    background-color: teal;
    color: white;
    font-family: othmani;
    height: 100%;
    overflow: hidden;
}

#container {
    margin: 2rem;
}

#btn {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 auto;
    border: solid 2px orange;
    border-radius: 50%;
    width: 150px;
    padding: 10px;
    text-align: center;
    cursor: pointer;

    /*Disable selecting text inside the div*/
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#btn:hover {
    color: teal;
    background-color: orange;
    transition: 0.3s ease-in-out;
}

#ayah {
    color: White;
    text-shadow: 0px 0px 1px White;
    font-size: 2.5rem;
    margin: 0 auto;
    padding-top: 10vh;
    height: 60vh;
    width: 90%;
    text-align: center;
}